<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetcontact">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewContactActivity"></activity>
        <activity android:name=".InfoContactActivity"></activity>
        <activity android:name=".InfoNumeroActivity"></activity>
        <activity android:name=".NewNumeroActiviry"></activity>
        <activity android:name=".NewGroupActivity"></activity>
        <activity android:name=".InfoGroupActivity"></activity>
        <activity android:name=".NewContactInGroup"></activity>
        <activity
            android:name=".GroupActivity"
            android:label="@string/grp">
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/cct"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>